/.DS_Store

/fasta/.project

/fasta/.classpath

/fasta/.settings/

/fasta/test-output/

/gff3/.settings/
/gff3/.project

/gff3/.classpath

/html/.settings/

/html/.project
/html/.classpath

/basic/.settings/
/basic/.project

/basic/.classpath
/.settings/
/.project

/xml/.settings/
/xml/.project

/xml/.classpath

/tnt/.project
/tnt/.settings/

/tnt/.classpath

/json/.classpath

/json/.project
/json/.settings/

/csv/.classpath

/csv/.project
/csv/.settings/

/creole/target/


/support/.classpath

/support/.project
/support/.settings/

/asm6502/target/
/logo/target/
/redcode/target/


/pgn/target/

/pgn/.DS_Store

/support/antlr4test-maven-plugin/target/

/bnf/target/

/support/antlr4test-maven-plugin/.settings/
/support/antlr4test-maven-plugin/.project
/support/antlr4test-maven-plugin/.classpath

/swift/target/

/objc/target/

/dot/target/

/logo/.DS_Store

.idea/
*.iml
