# Recipe from: https://help.github.com/articles/dealing-with-line-endings/#platform-all

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.abnf text
*.alg text
*.asm text
*.asn text
*.b text
*.bas text
*.bcpl text
*.bnf text
*.c text
*.cc text
*.cl text
*.cpp text
*.cs text
*.csproj text
*.css text
*.csv text
*.dart text
*.dgs text
*.dot text
*.erl text
*.errors text
*.faa text
*.ffn text
*.fna text
*.g text
*.g2 text
*.g3 text
*.g4 text
*.g42 text
*.gff text
*.gml text
*.go text
*.gradle text
*.h text
*.html text
*.ics text
*.idl text
*.iri text
*.java text
*.js text
*.json text
json/examples/*.json text
*.kt text
*.lark text
*.lua text
*.m text
*.map text
*.md text
*.mo text
*.mps text
*.ora text
*.pas text
*.pc text
*.pgn text
*.php text
*.pkb text
*.pks text
*.properties text
*.proto text
*.py text
*.rb text
*.s text
*.scala text
*.sh text
*.smt2 text
*.sno text
*.sql text
*.st text
*.style text
*.swift text
*.tree text
*.ttl text
*.txt text
*.upnp text
*.vb text
*.vhd text
*.x text
*.xml text
*.yml text
access_log text

# All grammars that contain parser rules for token NEWLINE must have
# standard Unix endings.
# vb6/examples/**/*.vb eol=lf
abb/examples/*.sys eol=lf
agc/examples/**/* eol=lf
antlr/antlr2/examples/**/*.g2 eol=lf
antlr/antlr3/examples/**/*.g eol=lf
antlr/antlr4/examples/**/*.g4 eol=lf
arden/examples/**/*.mlm eol=lf
asl/examples/* eol=lf
asm/asm6502/examples/* eol=lf
asm/asm8080/examples/* eol=lf
asm/asm8086/examples/* eol=lf
asm/asmMASM/examples/**/*.asm eol=lf
asm/asmRISCV/examples/**/*.S eol=lf
asm/asmZ80/examples/*.z80 eol=lf
asm/nasm/examples/**/*.asm eol=lf
asm/pdp7/examples/**/*.s eol=lf
asm/ptx/ptx-isa-2.1/examples/**/*.ptx eol=lf
awk/examples/**/*.awk eol=lf
bcpl/examples/**/*.b eol=lf
bcpl/examples/**/*.bcpl eol=lf
bicep/examples/**/*.txt eol=lf
bison/examples/**/*.y eol=lf
bnf/examples/**/*.bnf eol=lf
c/examples/**/*.c eol=lf
callable/examples/**/*.txt eol=lf
caql/examples/**/*.txt eol=lf
clf/examples/**/* eol=lf
cmake/examples/**/*.txt eol=lf
cobol85/examples/**/*.txt eol=lf
cpp/examples/**/*.cc eol=lf
cpp/examples/**/*.cpp eol=lf
cql3/examples/**/*.cql eol=lf
creole/examples/**/*.txt eol=lf
csharp/examples/**/*.cs eol=lf
css3/examples/*.css eol=lf
csv/examples/*.csv eol=lf
databank/examples/*.db eol=lf
elixir/examples/*.ex eol=lf
esolang/sickbay/examples/**/* eol=lf
fasta/examples/**/* eol=lf
fol/examples/**/* eol=lf
fortran/fortran77/examples/**/* eol=lf
gdscript/examples/*.gd eol=lf
gedcom/examples/**/* eol=lf
gff3/examples/**/* eol=lf
golang/examples/**/* eol=lf
graphstream-dgs/examples/**/* eol=lf
haskell/examples/*.hs eol=lf
hypertalk/example-scriptlets/*.txt eol=lf
hypertalk/example-scripts/*.txt eol=lf
icalendar/examples/**/* eol=lf
inf/examples/**/* eol=lf
informix/examples/**/* eol=lf
java/java/examples/**/* eol=lf
javadoc/examples/**/*.java eol=lf
javascript/javascript/examples/**/* eol=lf
javascript/typescript/examples/**/* eol=lf
json5/examples/**/* eol=lf
kotlin/kotlin-formal/examples/**/* eol=lf
kuka/examples/*.txt eol=lf
logo/logo/examples/**/* eol=lf
lua/examples/**/* eol=lf
matlab/examples/**/* eol=lf
mckeeman-form/examples/*.txt eol=lf
modelica/examples/**/* eol=lf
moo/examples/**/* eol=lf
muddb/examples/**/* eol=lf
mumps/examples/**/* eol=lf
objc/examples/* eol=lf
pcre/examples/**/* eol=lf
pegen/examples/**/* eol=lf
php/examples/**/* eol=lf
ply/examples/**/* eol=lf
properties/examples/* eol=lf
python/python/examples/**/* eol=lf
python/python2_7_18/examples/**/* eol=lf
python/python3/examples/**/* eol=lf
python/python3_12_1/examples/**/* eol=lf
r/examples/*.txt eol=lf
recfile/examples/**/* eol=lf
redcode/examples/**/* eol=lf
rexx/examples/* eol=lf
robotwars/examples/**/* eol=lf
ruby/examples/**/* eol=lf
rust/examples/**/* eol=lf
scala/examples/**/* eol=lf
sgf/examples/**/* eol=lf
smalltalk/examples/**/* eol=lf
smtlibv2/examples/**/* eol=lf
snobol/examples/**/* eol=lf
spass/examples/**/* eol=lf
sql/informix-sql/examples/**/* eol=lf
sql/mariadb/examples/**/* eol=lf
sql/mysql/Positive-Technologies/examples/**/* eol=lf
sql/plsql/examples/**/* eol=lf
sql/postgresql/examples/**/* eol=lf
sql/snowflake/examples/**/* eol=lf
sql/tsql/examples/*.sql eol=lf
swift-fin/examples/**/* eol=lf
terraform/examples/**/* eol=lf
tinybasic/examples/**/* eol=lf
tinymud/examples/**/* eol=lf
toml/examples/**/* eol=lf
tsv/examples/**/* eol=lf
turtle/examples/**/* eol=lf
unicode/graphemes/examples/*.txt eol=lf
url/examples/**/* eol=lf
vb6/examples/**/* eol=lf
vba/examples/*.bas eol=lf
vba/vba6/examples/**/* eol=lf
vba/vba_cc/examples/**/* eol=lf
vba/vba_like/examples/**/* eol=lf
wavefront/examples/**/* eol=lf
xml/examples/**/* eol=lf
xsd-regex/examples/**/* eol=lf
xyz/examples/**/* eol=lf
z/examples/*.utf8 eol=lf


# Declare files that will always have CRLF line endings on checkout.
# Currently the /vb6/**/*.cls and *.frm file need this, otherwise the grammar fails. 
*.cls text eol=crlf
*.frm text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.pdf binary
*.png binary

# All input for parsers are to be ignored. Issue #2667
**/examples/** linguist-vendored
**/example-scripts/** linguist-vendored
**/example-scriptlets/** linguist-vendored
**/examples-sql-script/** linguist-vendored
**/examples_todo/** linguist-vendored
**/example/test_scripts/** linguist-vendored
agc/notworking/** linguist-vendored
asm/asmMASM/helloworld2.asm linguist-vendored
basic/print.bas linguist-vendored
erlang/src/** linguist-vendored
solidity/test.sol linguist-vendored
sql/postgresql/examples.errors/** linguist-vendored
v/failed_examples/** linguist-vendored

lua/examples/* eol=lf

*.ipt eol=lf
