;;; -*- mode: clojure; coding: utf-8 -*-
;;; https://github.com/edn-format/edn

[\i
 \!
 \$
 \formfeed
 \Q
 \g
 \N
 \Y
 \S
 \L
 \m
 \Y
 \T
 \0
 \j
 \;
 \6
 \A
 \z
 \&
 \k
 \^
 \=
 \v
 \k
 \@
 \U
 \W
 \x
 \X
 \l
 \Y
 \5
 \tab
 \4
 \t
 \n
 \:
 \C
 \2
 \Q
 \i
 \$
 \j
 \q
 \|
 \)
 \$
 \f
 \formfeed
 \s
 \A
 \"
 \J
 \F
 \f
 \D
 \0
 \M
 \G
 \"
 \r
 \'
 \K
 \A
 \[
 \>
 \n
 \i
 \'
 \d
 \!
 \s
 \]
 \j
 \=
 \"
 \M
 \J
 \z
 \L
 \formfeed
 \2
 \F
 \f
 \m
 \/
 \D
 \'
 \r
 \N
 \b
 \{
 \Y
 \F
 \_
 \g
 \3
 \b
 \>
 \x
 \|
 \%
 \F
 \<
 \D
 \N
 \Y
 \^
 \&
 \J
 \Y
 \(
 \i
 \,
 \j
 \/
 \R
 \_
 \B
 \return
 \h
 \^
 \N
 \A
 \D
 \q
 \=
 \L
 \v
 \(
 \8
 \P
 \K
 \v
 \Y
 \(
 \u
 \T
 \<
 \6
 \<
 \z
 \.
 \-
 \T
 \o
 \V
 \newline
 \$
 \6
 \m
 \l
 \Y
 \;
 \O
 \c
 \f
 \6
 \q
 \return
 \z
 \0
 \^
 \N
 \o
 \X
 \u
 \:
 \U
 \=
 \K
 \d
 \%
 \Y
 \H
 \Q
 \"
 \V
 \.
 \1
 \7
 \%
 \6
 \D
 \5
 \R
 \t
 \5
 \5
 \~
 \>
 \s
 \@
 \]
 \X
 \~
 \x
 \c
 \<
 \"
 \i
 \8
 \o
 \>
 \M
 \^
 \]
 \'
 \s
 \9
 \6
 \x
 \3
 \d
 \x
 \:
 \=
 \]
 \M
 \:
 \(
 \l
 \:
 \&
 \S
 \o
 \r
 \z
 \z
 \R
 \N
 \G
 \b
 \L
 \h
 \tab
 \y
 \R
 \.
 \X
 \x
 \Z
 \[
 \g
 \,
 \3
 \K
 \newline
 \[
 \O
 \f
 \L
 \$
 \`
 \newline
 \p
 \s
 \R
 \/
 \v
 \$
 \i
 \J
 \S
 \W
 \space
 \'
 \4
 \Q
 \h
 \:
 \<
 \f
 \T
 \1
 \h
 \8
 \&
 \W
 \5
 \h
 \=
 \l
 \-
 \3
 \L
 \b
 \:
 \_
 \z
 \&
 \l
 \return
 \v
 \#
 \J
 \G
 \T
 \:
 \%
 \)
 \D
 \h
 \Q
 \H
 \b
 \l
 \;
 \o
 \,
 \T
 \H
 \b
 \space
 \G
 \|
 \\
 \n
 \2
 \u
 \h
 \?
 \space
 \j
 \g
 \Q
 \m
 \;
 \5
 \]
 \formfeed
 \.
 \|
 \I
 \~
 \?
 \`
 \x
 \]
 \e
 \b
 \q
 \)
 \N
 \6
 \3
 \T
 \_
 \K
 \<
 \4
 \a
 \3
 \P
 \Y
 \V
 \?
 \G
 \}
 \6
 \g
 \U
 \8
 \F
 \G
 \;
 \G
 \=
 \%
 \(
 \Z
 \\
 \E
 \W
 \"
 \A
 \e
 \P
 \y
 \Y
 \F
 \B
 \*
 \newline
 \|
 \c
 \@
 \A
 \)
 \K
 \P
 \=
 \j
 \?
 \^
 \G
 \4
 \j
 \y
 \:
 \]
 \1
 \]
 \U
 \>
 \L
 \M
 \5
 \(
 \X
 \h
 \"
 \!
 \U
 \$
 \6
 \_
 \h
 \9
 \n
 \tab
 \U
 \X
 \W
 \1
 \&
 \k
 \m
 \[
 \[
 \?
 \;
 \formfeed
 \t
 \return
 \A
 \L
 \Z
 \C
 \S
 \i
 \space
 \)
 \1
 \3
 \@
 \|
 \u
 \|
 \_
 \B
 \space
 \v
 \`
 \7
 \P
 \{
 \formfeed
 \Z
 \=
 \T
 \$
 \*
 \)
 \*
 \(
 \y
 \[
 \B
 \1
 \u
 \;
 \L
 \3
 \-
 \o
 \i
 \newline
 \1
 \;
 \F
 \K
 \H
 \6
 \H
 \V
 \w
 \X
 \.
 \C
 \t
 \c
 \*
 \b
 \k
 \p
 \d
 \F
 \>
 \J
 \w
 \n
 \E
 \v
 \4
 \{
 \3
 \o
 \J
 \&
 \R
 \X
 \w
 \return
 \newline
 \Y
 \M
 \]
 \g
 \6
 \newline
 \C
 \U
 \!
 \5
 \]
 \q
 \e
 \t
 \Q
 \a
 \Y
 \P
 \G
 \p
 \8
 \U
 \<
 \,
 \C
 \o
 \F
 \m
 \formfeed
 \T
 \newline
 \E
 \g
 \h
 \&
 \J
 \U
 \9
 \X
 \u
 \1
 \o
 \return
 \formfeed
 \;
 \(
 \z
 \I
 \i
 \n
 \4
 \L
 \x
 \?
 \(
 \U
 \m
 \h
 \Z
 \2
 \r
 \v
 \f
 \3
 \s
 \U
 \S
 \+
 \=
 \D
 \,
 \:
 \~
 \}
 \:
 \Q
 \L
 \{
 \E
 \_
 \W
 \s
 \p
 \"
 \5
 \T
 \\
 \~
 \z
 \formfeed
 \-
 \G
 \-
 \5
 \2
 \K
 \t
 \[
 \Y
 \J
 \>
 \-
 \l
 \>
 \>
 \,
 \t
 \&
 \A
 \[
 \(
 \^
 \f
 \P
 \~
 \space
 \#
 \w
 \h
 \@
 \W
 \~
 \|
 \y
 \r
 \~
 \2
 \x
 \5
 \j
 \@
 \N
 \G
 \$
 \1
 \F
 \K
 \4
 \b
 \N
 \N
 \o
 \N
 \N
 \(
 \g
 \t
 \s
 \|
 \G
 \X
 \_
 \c
 \7
 \;
 \W
 \S
 \n
 \\
 \=
 \P
 \h
 \V
 \4
 \z
 \formfeed
 \8
 \=
 \l
 \D
 \r
 \|
 \a
 \s
 \_
 \f
 \l
 \E
 \L
 \p
 \3
 \8
 \F
 \?
 \e
 \I
 \c
 \>
 \X
 \O
 \k
 \r
 \t
 \~
 \9
 \A
 \newline
 \7
 \5
 \!
 \i
 \!
 \Z
 \9
 \,
 \W
 \~
 \'
 \/
 \.
 \(
 \B
 \a
 \[
 \'
 \t
 \j
 \!
 \9
 \^
 \~
 \_
 \`
 \(
 \-
 \*
 \>
 \space
 \f
 \W
 \f
 \7
 \]
 \p
 \J
 \h
 \3
 \e
 \{
 \%
 \"
 \0
 \F
 \0
 \Z
 \"
 \V
 \M
 \+
 \=
 \I
 \'
 \?
 \-
 \V
 \R
 \m
 \p
 \%
 \?
 \`
 \R
 \8
 \^
 \4
 \3
 \b
 \9
 \q
 \V
 \M
 \e
 \N
 \D
 \G
 \!
 \&
 \^
 \z
 \V
 \J
 \O
 \M
 \5
 \L
 \H
 \+
 \;
 \_
 \e
 \X
 \J
 \W
 \C
 \L
 \X
 \3
 \[
 \a
 \-
 \3
 \U
 \t
 \S
 \v
 \\
 \6
 \J
 \u
 \D
 \_
 \I
 \t
 \E
 \t
 \V
 \D
 \,
 \X
 \7
 \@
 \l
 \t
 \I
 \Q
 \=
 \z
 \R
 \+
 \O
 \9
 \U
 \N
 \%
 \m
 \Z
 \Z
 \h
 \e
 \`
 \|
 \space
 \,
 \0
 \0
 \m
 \$
 \/
 \X
 \g
 \<
 \w
 \a
 \h
 \=
 \R
 \y
 \q
 \;
 \G
 \H
 \v
 \`
 \P
 \W
 \c
 \X
 \z
 \Z
 \6
 \v
 \u
 \*
 \i
 \\
 \V
 \{
 \a
 \W
 \S
 \}
 \d
 \return
 \;
 \(
 \b
 \p
 \q
 \w
 \%
 \W
 \T
 \formfeed
 \\
 \T
 \Z
 \@
 \-
 \-
 \"
 \f
 \b
 \W
 \s
 \!
 \9
 \z
 \^
 \Z
 \*
 \f
 \i
 \P
 \z
 \}
 \z
 \k
 \{
 \*
 \4
 \>
 \O
 \=
 \Z
 \c
 \8
 \'
 \>
 \G
 \%
 \formfeed
 \b
 \R
 \(
 \:
 \n
 \Q
 \~
 \i
 \P
 \tab
 \K
 \x
 \l
 \/
 \u
 \h
 \j
 \8
 \N
 \p
 \4
 \^
 \c
 \:
 \q
 \formfeed
 \]
 \v
 \o
 \;
 \@
 \H
 \n
 \9
 \R
 \1
 \A
 \0
 \^
 \=
 \c
 \6
 \Z
 \k
 \:
 \1
 \$
 \j
 \g
 \G
 \Y
 \|
 \l
 \]
 \~
 \*
 \g
 \m
 \-
 \u
 \L
 \*
 \N
 \Y
 \5
 \_
 \_
 \L
 \F
 \|
 \"
 \x
 \;
 \1
 \n
 \A
 \w
 \t
 \S
 \[
 \k
 \H
 \"
 \$
 \#
 \f
 \%
 \3
 \|
 \m
 \/
 \!
 \@
 \}
 \'
 \h
 \j
 \M
 \&
 \e
 \C
 \.
 \W
 \&
 \4
 \{
 \h
 \{
 \h
 \8
 \space
 \v
 \e
 \I
 \D
 \z
 \)
 \T
 \J
 \R
 \+
 \J
 \y
 \|
 \\
 \c
 \c
 \$
 \G
 \4
 \#
 \[
 \newline
 \`
 \s
 \u
 \/
 \"
 \-
 \Y
 \(
 \M
 \-
 \i
 \L
 \I
 \o
 \.
 \P
 \O
 \b
 \}
 \a
 \1
 \[
 \x
 \O
 \0
 \@
 \S
 \^
 \3
 \(
 \'
 \h
 \J
 \!
 \#
 \K
 \O
 \A
 \~
 \7
 \$
 \,
 \O
 \Z
 \y
 \space
 \4
 \{
 \H
 \r
 \U
 \[
 \M
 \@
 \b
 \H
 \V
 \e
 \V
 \4
 \formfeed
 \<
 \a
 \return
 \s
 \y
 \x
 \w
 \X
 \Z
 \8
 \Y
 \h
 \)
 \s
 \`
 \Z
 \c
 \b
 \.
 \+
 \Q
 \>
 \"
 \Y
 \/
 \G
 \]
 \'
 \5
 \*
 \:
 \k
 \1
 \~
 \N
 \^
 \?
 \k
 \j
 \/
 \W
 \u
 \:
 \s
 \tab
 \"
 \|
 \6
 \a
 \8
 \#
 \f
 \F
 \A
 \w
 \z
 \.
 \1
 \[
 \h
 \g
 \H
 \A
 \}
 \v
 \y
 \z
 \P
 \%
 \1
 \^
 \l
 \$
 \newline
 \<
 \f
 \D
 \A
 \W
 \h
 \R
 \P
 \N
 \'
 \7
 \m
 \2
 \z
 \|
 \V
 \l
 \r
 \/
 \B
 \f
 \e
 \n
 \S
 \'
 \_
 \+
 \E
 \s
 \v
 \>
 \<
 \V
 \-
 \D
 \:
 \0
 \j
 \h
 \}
 \!
 \E
 \b
 \a
 \/
 \?
 \h
 \#
 \tab
 \@
 \m
 \|
 \T
 \h
 \L
 \]
 \7
 \h
 \g
 \K
 \&
 \(
 \;
 \formfeed
 \g
 \k
 \1
 \x
 \7
 \<
 \m
 \b
 \@
 \L
 \W
 \>
 \-
 \&
 \f
 \z
 \&
 \newline
 \return
 \O
 \s
 \z
 \space
 \3
 \s
 \@
 \m
 \*
 \j
 \S
 \]
 \D
 \k
 \)
 \i
 \V
 \&
 \#
 \)
 \v
 \t
 \$
 \I
 \L
 \S
 \N
 \s
 \u
 \E
 \s
 \7
 \f
 \]
 \h
 \d
 \f
 \L
 \f
 \/
 \S
 \F
 \'
 \]
 \}
 \u
 \formfeed
 \S
 \7
 \b
 \Q
 \}
 \space
 \2
 \7
 \{
 \^
 \.
 \J
 \m
 \G
 \g
 \x
 \:
 \,
 \A
 \)
 \>
 \v
 \m
 \!
 \S
 \return
 \K
 \<
 \Z
 \%
 \s
 \b
 \s
 \k
 \$
 \2
 \R
 \$
 \$
 \]
 \W
 \E
 \4
 \$
 \&
 \i
 \)
 \space
 \q
 \1
 \v
 \.
 \s
 \m
 \W
 \G
 \D
 \.
 \&
 \5
 \h
 \V
 \x
 \;
 \?
 \'
 \R
 \-
 \8
 \s
 \P
 \tab
 \^
 \formfeed
 \(
 \)
 \3
 \m
 \v
 \~
 \~
 \j
 \+
 \D
 \y
 \a
 \F
 \T
 \C
 \.
 \X
 \L
 \newline
 \D
 \4
 \,
 \j
 \u
 \N
 \(
 \R
 \'
 \k
 \O
 \formfeed
 \s
 \X
 \s
 \|
 \F
 \.
 \e
 \^
 \!
 \W
 \a
 \newline
 \D
 \;
 \e
 \:
 \N
 \1
 \k
 \f
 \[
 \H
 \'
 \X
 \0
 \Q
 \formfeed
 \m
 \x
 \]
 \#
 \j
 \formfeed
 \4
 \@
 \`
 \J
 \c
 \\
 \|
 \(
 \tab
 \E
 \%
 \%
 \O
 \D
 \}
 \e
 \=
 \)
 \)
 \s
 \'
 \L
 \j
 \F
 \.
 \r
 \S
 \6
 \formfeed
 \g
 \l
 \"
 \N
 \6
 \L
 \S
 \(
 \]
 \)
 \space
 \x
 \Q
 \1
 \x
 \A
 \o
 \O
 \1
 \G
 \return
 \Q
 \<
 \U
 \~
 \h
 \O
 \V
 \[
 \formfeed
 \F
 \7
 \z
 \4
 \X
 \Q
 \C
 \&
 \d
 \e
 \g
 \newline
 \Y
 \"
 \q
 \w
 \tab
 \h
 \[
 \T
 \!
 \z
 \`
 \Q
 \M
 \4
 \4
 \5
 \w
 \8
 \[
 \j
 \s
 \G
 \?
 \1
 \j
 \%
 \3
 \3
 \space
 \j
 \r
 \/
 \n
 \d
 \V
 \Z
 \X
 \%
 \0
 \v
 \.
 \K
 \"
 \s
 \>
 \F
 \g
 \|
 \;
 \tab
 \I
 \+
 \[
 \?
 \i
 \H
 \#
 \9
 \h
 \O
 \j
 \H
 \g
 \return
 \=
 \J
 \u
 \n
 \8
 \/
 \%
 \V
 \a
 \.
 \space
 \j
 \t
 \Z
 \]
 \+
 \+
 \r
 \P
 \^
 \$
 \e
 \R
 \d
 \return
 \x
 \(
 \c
 \+
 \/
 \;
 \=
 \h
 \B
 \J
 \2
 \A
 \R
 \@
 \5
 \space
 \N
 \I
 \B
 \q
 \Q
 \B
 \N
 \9
 \l
 \v
 \X
 \6
 \p
 \0
 \]
 \r
 \,
 \\
 \x
 \q
 \v
 \o
 \2
 \s
 \k
 \e
 \;
 \Y
 \x
 \F
 \Z
 \u
 \?
 \d
 \M
 \\
 \Y
 \2
 \0
 \u
 \u
 \O
 \l
 \P
 \@
 \.
 \newline
 \&
 \m
 \b
 \/
 \U
 \A
 \J
 \X
 \m
 \]
 \M
 \k
 \W
 \]
 \'
 \A
 \W
 \b
 \E
 \m
 \.
 \=
 \2
 \o
 \r
 \J
 \G
 \{
 \W
 \D
 \L
 \y
 \F
 \Z
 \V
 \,
 \u
 \3
 \[
 \H
 \6
 \t
 \|
 \v
 \Z
 \#
 \;
 \1
 \!
 \7
 \=
 \O
 \_
 \}
 \2
 \H
 \g
 \)
 \e
 \*
 \k
 \r
 \{
 \3
 \3
 \return
 \N
 \Y
 \A
 \return
 \s
 \O
 \space
 \X
 \I
 \p
 \a
 \=
 \4
 \B
 \return
 \N
 \)
 \f
 \_
 \space
 \n
 \z
 \<
 \E
 \x
 \-
 \S
 \b
 \newline
 \X
 \X
 \W
 \e
 \!
 \@
 \O
 \K
 \m
 \=
 \>
 \>
 \@
 \;
 \return
 \S
 \return
 \<
 \i
 \%
 \V
 \c
 \"
 \>
 \y
 \8
 \w
 \n
 \l
 \.
 \6
 \(
 \tab
 \|
 \.
 \j
 \5
 \2
 \|
 \0
 \R
 \h
 \(
 \!
 \1
 \s
 \Y
 \O
 \=
 \~
 \|
 \6
 \@
 \r
 \I
 \I
 \u
 \2
 \V
 \P
 \y
 \[
 \(
 \P
 \3
 \p
 \`
 \W
 \tab
 \=
 \i
 \/
 \s
 \k
 \g
 \l
 \3
 \y
 \P
 \t
 \formfeed
 \9
 \d
 \9
 \:
 \M
 \c
 \/
 \/
 \N
 \e
 \(
 \n
 \v
 \l
 \o
 \<
 \I
 \^
 \w
 \^
 \A
 \=
 \h
 \newline
 \I
 \%
 \q
 \L
 \/
 \.
 \@
 \i
 \p
 \[
 \G
 \!
 \newline
 \>
 \A
 \B
 \m
 \C
 \V
 \)
 \(
 \i
 \return
 \S
 \e
 \R
 \#
 \return
 \S
 \P
 \\
 \?
 \8
 \p
 \/
 \2
 \@
 \y
 \n
 \P
 \n
 \space
 \*
 \!
 \8
 \return
 \h
 \E
 \y
 \.
 \;
 \'
 \O
 \f
 \X
 \space
 \"
 \q
 \M
 \#
 \R
 \C
 \l
 \V
 \r
 \S
 \_
 \Z
 \>
 \3
 \X
 \"
 \n
 \3
 \H
 \9
 \2
 \W
 \=
 \'
 \w
 \tab
 \$
 \A
 \P
 \V
 \h
 \E
 \Y
 \i
 \Y
 \D
 \b
 \F
 \-
 \H
 \z
 \Z
 \A
 \.
 \k
 \newline
 \5
 \[
 \)
 \tab
 \L
 \n
 \4
 \;
 \,
 \U
 \b
 \n
 \p
 \n
 \&
 \K
 \3
 \.
 \r
 \b
 \*
 \t
 \y
 \)
 \"
 \H
 \8
 \<
 \P
 \k
 \r
 \9
 \'
 \'
 \E
 \h
 \h
 \%
 \9
 \}]

