name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      mymatrix: ${{ steps.step1.outputs.myoutput }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Test Dotnet
      run: |
        dotnet --version
        dotnet --info
        dotnet --list-runtimes
        dotnet --list-sdks
    - name: Install Trash
      shell: bash
      run: |
        dotnet tool restore
    - name: Gather targets.
      id: step1
      shell: bash
      run: |
        if [ "${{github.event_name}}" == "pull_request" ]; then
          Before="${{github.event.pull_request.base.sha}}"
          After="${{github.event.pull_request.head.sha}}"
        else
          Before="${{github.event.before}}"
          After="${{github.event.after}}"
        fi
        bash _scripts/what-to-test.sh $Before $After >> $GITHUB_OUTPUT

  build-pwsh:
    needs: setup
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        language: ${{ fromJson(needs.setup.outputs.mymatrix) }}
    steps:
    - name: Info
      shell: bash
      run: |
        arch
        uname -a
        if [ -f /proc/cpuinfo ]; then cat /proc/cpuinfo; fi
        export
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup PHP
      id: setup-php
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.4'
        ini-values: xdebug.max_nesting_level=1000
    - name: Print PHP version
      run: |
        echo ${{ steps.setup-php.outputs.php-version }}
        php --version
    - name: Test Dotnet
      run: |
        dotnet --version
        dotnet --info
        dotnet --list-runtimes
        dotnet --list-sdks
    - name: Install Java
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'zulu'
    - name: Test Java
      run: |
        dotnet --version
        java --version
        javac --version
    - name: Install Dart
      if: ${{ matrix.language == 'Dart' }}
      uses: dart-lang/setup-dart@v1
    - name: Test Dart
      if: ${{ matrix.language == 'Dart' }}
      run: |
        dart --version
    - name: Install Go
      if: ${{ matrix.language == 'Go' }}
      uses: actions/setup-go@v5
      with:
        go-version: '^1.21.0'
        cache: false
    - name: Test Go
      if: ${{ matrix.language == 'Go' }}
      run: |
        go version
    - name: Install Python
      uses: actions/setup-python@v5.6.0
      with:
        python-version: '3.10'
    - name: Test Python
      run: |
        python --version
    - name: Upgrade Pip.
      run: |
        python -m ensurepip --upgrade
    - name: Test Pip
      run: |
        pip --version
    - name: Install Antlr tool
      run: |
         pip install antlr4-tools
    - name: Install JavaScript
      uses: actions/setup-node@v4.4.0
      with:
        node-version: '22.12.0'
    - name: Test JavaScript
      run: |
        node --version
    - name: ts-node typescript tsx
      run: |
        npm i -g ts-node typescript tsx
        ts-node --version
        tsc --version
        npx -v
        npx tsx -v
    - name: Update paths
      shell: pwsh
      run: |
        if ("${{ matrix.os }}" -eq "ubuntu-latest") {
            echo "$HOME/.dotnet/tools" >> $env:GITHUB_PATH
        }
    - name: Install Trash
      shell: bash
      run: |
        dotnet tool restore
    - name: Test Trash install
      shell: bash
      run: |
        dotnet trgen --help
    - name: Install Antlr-ng
      shell: pwsh
      run: |
        cd $HOME
        git clone https://github.com/mike-lischke/antlr-ng.git
        cd antlr-ng
        echo HOME $HOME
        git checkout 4975d4a7b556e34c38c2e53b9815c8c4c802236f
        npm i
        npm run build
    - name: Test
      shell: pwsh
      run: |
        if ("${{ github.event_name }}" -eq "pull_request") {
            $Before = "${{ github.event.pull_request.base.sha }}"
            $After = "${{ github.event.pull_request.head.sha }}"
        }
        else {
            $Before = "${{ github.event.before }}"
            $After = "${{ github.event.after }}"
        }
        if ("${{ matrix.os }}" -eq "ubuntu-latest") {
            _scripts/test.ps1 -target ${{ matrix.language }} -pc "$Before" -cc "$After"
        } elseif ("${{ matrix.os }}" -eq "windows-latest") {
            _scripts/test.ps1 -target ${{ matrix.language }} -pc "$Before" -cc "$After"
        } elseif ("${{ matrix.os }}" -eq "macos-latest") {
            _scripts/test.ps1 -target ${{ matrix.language }} -pc "$Before" -cc "$After" -buildonly:1
        }

  static-check:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest]
        test: [ useless-parens, format, ambiguity ]
    steps:
    - name: Info
      shell: bash
      run: |
        arch
        uname -a
        if [ -f /proc/cpuinfo ]; then cat /proc/cpuinfo; fi
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Test Dotnet
      run: |
        dotnet --version
        dotnet --info
        dotnet --list-runtimes
        dotnet --list-sdks
    - name: Install Java
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'zulu'
    - name: Test Java
      run: |
        dotnet --version
        java --version
        javac --version
    - name: Install Python
      uses: actions/setup-python@v5.6.0
      with:
        python-version: '3.10'
    - name: Test Python
      run: |
        python --version
    - name: Upgrade Pip.
      run: |
        python -m ensurepip --upgrade
    - name: Test Pip.
      run: |
        pip --version
    - name: Install Antlr tool
      run: |
         pip install antlr4-tools
    - name: Install Trash
      shell: bash
      run: |
        dotnet tool restore
    - name: Test Trash install
      shell: bash
      run: |
        dotnet trgen --help
    - name: Test
      shell: bash
      run: |
        if [ "${{github.event_name}}" == "pull_request" ]; then
            Before="${{github.event.pull_request.base.sha}}"
            After="${{github.event.pull_request.head.sha}}"
        else
            Before="${{github.event.before}}"
            After="${{github.event.after}}"
        fi
        bash _scripts/test-static-checks.sh -t ${{matrix.test}} -f diff $Before $After

  maven:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest]
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'
    - name: Build with Maven
      shell: bash
      run: |
        if [ "${{github.event_name}}" == "pull_request" ]; then
           Before="${{github.event.pull_request.base.sha}}"
           After="${{github.event.pull_request.head.sha}}"
        else
           Before="${{github.event.before}}"
           After="${{github.event.after}}"
        fi
        bash _scripts/maven.sh $Before $After
