name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        java: [11, 17 ]
      fail-fast: false
    steps:
    - uses: actions/checkout@v3
    - name: Install Dotnet
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '6.0.102'
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: ${{ matrix.java }}
    - name: Build with Maven
      run: mvn -B package --file pom.xml
  build-csharp:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v3
    - name: Install Dotnet
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '6.0.102'
    - name: Do not trust Dotnet env
      run: |
        dotnet --version
        dotnet --info
        dotnet --list-runtimes
        dotnet --list-sdks
    - name: Test C# target
      run: |
        bash _scripts/regtest.sh CSharp
  build-pwsh:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        language: [CSharp, Java, JavaScript, Go, Python3, Dart ]
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Install Dotnet
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '6.0.102'
    - name: Do not trust Dotnet env
      run: |
        dotnet --version
        dotnet --info
        dotnet --list-runtimes
        dotnet --list-sdks
    - name: Install Java
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'zulu'
    - name: Do not trust Java env
      run: |
        dotnet --version
        java --version
        javac --version
    - name: Install Dart
      if: ${{ matrix.language == 'Dart' }}
      uses: dart-lang/setup-dart@v1
    - name: Do not trust Dart env
      if: ${{ matrix.language == 'Dart' }}
      run: |
        dart --version
    - name: Install Go
      if: ${{ matrix.language == 'Go' }}
      uses: actions/setup-go@v3
      with:
        go-version: '^1.18.0'
    - name: Do not trust Go env
      if: ${{ matrix.language == 'Go' }}
      run: |
        go version
    - name: Install Python
      if: ${{ matrix.language == 'Python3' }}
      uses: actions/setup-python@v4.2.0
      with:
        python-version: '3.10'
    - name: Do not trust Python env
      if: ${{ matrix.language == 'Python3' }}
      run: |
        python --version
    - name: Install JavaScript
      if: ${{ matrix.language == 'JavaScript' }}
      uses: actions/setup-node@v3.5.0
      with:
        node-version: '16.13.0'
    - name: Do not trust JavaScript env
      if: ${{ matrix.language == 'JavaScript' }}
      run: |
        node --version
    - name: Download ANTLR
      shell: pwsh
      run: |
        $antlrPath = _scripts/get-antlr.ps1 "4.11.1"
        echo "antlr_path=$antlrPath" >> $env:GITHUB_ENV
    - name: Install trgen
      shell: pwsh
      run: |
        dotnet tool install -g trgen --version 0.16.3
        dotnet tool install -g trwdog --version 0.16.3
        if ("${{ matrix.os }}" -eq "ubuntu-latest") {
            echo "$HOME/.dotnet/tools" >> $env:GITHUB_PATH
        }
    - name: Test
      shell: pwsh
      run: |
        if ("${{ github.event_name }}" -eq "pull_request") {
            $Before = "${{ github.event.pull_request.base.sha }}"
            $After = "${{ github.event.pull_request.head.sha }}"
        }
        else {
            $Before = "${{ github.event.before }}"
            $After = "${{ github.event.after }}"
        }
        $env:ANTLR_JAR_PATH="${{ env.antlr_path }}"
        _scripts/test.ps1 ${{ matrix.language }} $Before $After
  build-cpp:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Install Java
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'zulu'
    - name: Do not trust Java env
      run: |
        dotnet --version
        java --version
        javac --version
    - name: Install Dotnet
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '6.0.102'
    - name: Do not trust Dotnet env
      run: |
        dotnet --version
        dotnet --info
        dotnet --list-runtimes
        dotnet --list-sdks
    - name: Setup Cpp
      run: |
         sudo apt update
         sudo apt install gcc-10 g++-10
      shell: bash

    - name: Test Cpp target
      run: |
        bash _scripts/regtest.sh Cpp
      env:
        CC:   gcc-10
        CXX:  g++-10

  build-php:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Java
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'zulu'
    - name: Do not trust Java env
      run: |
        dotnet --version
        java --version
        javac --version
    - name: Install Dotnet
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '6.0.102'
    - name: Do not trust Dotnet env
      run: |
        dotnet --version
        dotnet --info
        dotnet --list-runtimes
        dotnet --list-sdks
    - name: Setup PHP
      uses: nanasess/setup-php@master
      with:
        php-version: '8.0'
    - name: Test PHP target
      run: |
        bash _scripts/regtest.sh PHP
